# =========================
# NetBeans (ALL LEVEL)
# =========================

# Build folders (semua level)
**/build/
**/dist/
**/nbbuild/
**/nbdist/

# Compiled files
*.class
*.jar
*.war
*.ear

# NetBeans private
**/nbproject/private/

# Logs
*.log
*.tmp
*.bak

# OS
.DS_Store
Thumbs.db